.PAltos {
  width: 80%;
  margin: 20px auto 20px;
  background-color: rgb(245, 163, 12);
  border: 1px solid black;
}

.Center {
  text-align: center;
}

* {
  color: white;
}

.Plateas {
  width: 60%;
  margin: 20px auto 20px;
  display: inline-flex;
}

.list-palcoBajo {
  text-decoration: none;
  background-color: rgb(66, 23, 146);
  height: 55px;
  width: 33%;
}

.List-platea {
  text-decoration: none;
  background-color: rgb(45, 11, 194);
  height: 55px;
  width: 50%;
  border: 1px solid black;
  list-style: none;
  display: flex;
  align-items: center;
  
}